* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
=============== 
Project CSS
===============
*/

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--grey-100);
}
